#subject-list {
    font-size: 20px;
    margin-bottom: 20px;
}

.subject-bar {
    background-color: #F4F4F4;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
}
.subject-bar.expanded {
    height: auto;
    padding: 20px;
    background-color: #F4F4F4;
}
.subject-details {
    display: none;
}
.subject-bar.expanded .subject-details {
    display: block;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border: 1px solid #ccc;
}

.child-list {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid lightgrey;
}
